<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cpt202.module3.mapper.AppUserMapper">

    <resultMap id="AppUserResultMap" type="com.cpt202.module3.entity.AppUser">
        <id column="user_id" property="userId"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="password_hash" property="passwordHash"/>
        <result column="role" property="role"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <insert id="insert"
            parameterType="com.cpt202.module3.entity.AppUser"
            useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO app_user
        (
            name,
            email,
            password_hash,
            role,
            created_at,
            updated_at
        )
        VALUES
        (
            #{name},
            #{email},
            #{passwordHash},
            #{role},
            #{createdAt},
            #{updatedAt}
        )
    </insert>

    <select id="selectById"
            parameterType="java.lang.Long"
            resultMap="AppUserResultMap">
        SELECT
            user_id,
            name,
            email,
            password_hash,
            role,
            created_at,
            updated_at
        FROM app_user
        WHERE user_id = #{userId}
    </select>

    <select id="selectByEmail"
            parameterType="java.lang.String"
            resultMap="AppUserResultMap">
        SELECT
            user_id,
            name,
            email,
            password_hash,
            role,
            created_at,
            updated_at
        FROM app_user
        WHERE email = #{email}
    </select>

    <update id="updateBasicInfo"
            parameterType="com.cpt202.module3.entity.AppUser">
        UPDATE app_user
        SET
            name = #{name},
            email = #{email},
            updated_at = #{updatedAt}
        WHERE user_id = #{userId}
    </update>

</mapper>
